@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* styles/global.css */
.input-field {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #304D30;
}

.btn-submit {
  padding: 8px 16px;
  background-color: #163020;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-display {
  background-color: #B6C4B6;
  padding: 16px;
  border-radius: 8px;
}
